name: Branch Tests

on:
  push:
    branches-ignore:
      - main
      - releases/**
      - dependabot/**
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3.1.0
        with:
          node-version: '12.x'
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.21.1
          run_install: false
      - name: Determine pnpm cache directory
        id: pnpm-cache
        run: |
          echo "::set-output name=dir::$(pnpm config get cache)"
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pnpm-cache.outputs.dir}}
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install & Test
        run: pnpm install && pnpm test

  test-save:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: RushJS Helper
        uses: ./
        with:
          working-directory: __tests__/data
      - name: Generate files in common/temp
        shell: bash
        run: __tests__/create-cache-files.sh ${{ runner.os }} __tests__/data/common/temp

  test-restore:
    needs: test-save
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: RushJS Helper
        uses: ./
        with:
          working-directory: __tests__/data
      - name: Verify cache files in common/temp
        shell: bash
        run: __tests__/verify-cache-files.sh ${{ runner.os }} __tests__/data/common/temp
