name: Tests

on:
  pull_request:
    branches:
      - main
      - releases/**
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - releases/**
    paths-ignore:
      - '**.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3.5.1
        with:
          node-version: '16.x'
      - name: Determine npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - name: Restore npm cache
        uses: actions/cache@v3.0.8
        with:
          path: ${{ steps.npm-cache.outputs.dir}}
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.9.0
          run_install: true
      - name: Build & Test
        run: pnpm test
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test-save:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: RushJS Helper
        uses: ./
        with:
          working-directory: __tests__/data
      - name: Generate files in common/temp
        shell: bash
        run: __tests__/create-cache-files.sh ${{ runner.os }} __tests__/data/common/temp

  test-restore:
    needs: test-save
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: RushJS Helper
        uses: ./
        with:
          working-directory: __tests__/data
      - name: Verify cache files in common/temp
        shell: bash
        run: __tests__/verify-cache-files.sh ${{ runner.os }} __tests__/data/common/temp
