name: Tests

on:
  pull_request:
    branches:
      - main
      - releases/**
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - releases/**
    paths-ignore:
      - '**.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '12.x'
      - name: Determine npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache.outputs.dir}}
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.0.1
      - name: Build & Test
        run: |
          pnpm install
          pnpm test
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test-save:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: RushJS Helper
        uses: ./
      - name: Generate files in common/temp
        shell: bash
        run: __tests__/create-cache-files.sh ${{ runner.os }} common/temp

  test-restore:
    needs: test-save
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: RushJS Helper
        uses: ./
      - name: Verify cache files in common/temp
        shell: bash
        run: __tests__/verify-cache-files.sh ${{ runner.os }} common/temp
